
* {
	border: 2px solid cornflowerblue;
	margin: 5px;
	padding: 3px;
}

/*body takes up full viewport and extends all the way to the edges */
html, body {
	margin: 0;
	padding: 0;
	border: none;

}

body {
	height: 100vh;
}

#headerdiv {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	width: 50%;
}

.nav {
	height:25px;

	
}

#maindiv {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

#main {
	width: 75%;
	height: 200px;
}

#side {
	width: 25%;
}

#footerdiv {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}